<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MdmUris" value="http://s930a4014/SIT_MdmService, http://fos-t1/services/mdm_sit" />
    <add key="SystemNames" value="CommercialDesktop:Gas UK, CommercialDesktop:Gas European, CommercialDesktop:Coal" />
    <add key="SearchesPerEntity" value="3" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>